.content {
  margin-left: 350px;
}

.gradient {
  height: 100vh;
  width: 100vw;
  background-color: purple;
}

.about span {
  text-decoration: underline;
}

section {
  max-width: 600px;
  margin: 90px auto;
}
