.sideBar {
  position: fixed;
  margin: 0;
  height: 95%;
  width: 350px;
  overflow-y: auto;
  background-color: palevioletred;
  padding: 30px;
}

footer {
  position: fixed;
  width: 350px;
  bottom: 0;
}

.diagonal {
  transform: rotate(45deg);
}
